services:
  - type: web
    name: nestjs-backend
    env: node
    plan: free

    buildCommand: |
      npm install
      npm run build

    startCommand: npm run start:prod

    autoDeploy: true

    envVars:
      - key: NODE_ENV
        value: production

      - key: PORT
        value: 10000
